[Unit]
Description=Run ansible-pull to get common server configuration
Requires=ansible-configure-helix.service
      
[Timer]
Unit=ansible-configure-helix.service
OnCalendar=*:0/01:00
      
[Install]
WantedBy=timers.target